h2{
  line-height: reset;
}

#clock{
  
}

.face{
  /*display: inline-block;*/
  text-align: center;
  /*vertical-align: middle;*/
}

#clock-container{
  /*border-style: solid;*/
  height: 110px;
  line-height: 25px;
}

#btn-container{
   
}

.container{
  display: inline-block;
  width: 150px;
  text-align: center;
}

.wrapper{
  width: 100%;
  text-align: center;
}